<a href="https://colab.research.google.com/github/KodumuruRaja/Ensemble-Algorithms/blob/main/Bagging-Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Example-1**

In [ ]:
from sklearn.model_selection import KFold,cross_val_score
from sklearn.ensemble import BaggingClassifier 
from sklearn.tree import DecisionTreeClassifier 
import pandas as pd

In [ ]:
dataframe = pd.read_csv("/content/wine_data.csv") 
dataframe.head

<bound method NDFrame.head of      Unnamed: 0  Alcohol  Malic   Ash  ...  Color   Hue  Dilution  Proline
0             1    14.23   1.71  2.43  ...   5.64  1.04      3.92     1065
1             2    13.20   1.78  2.14  ...   4.38  1.05      3.40     1050
2             3    13.16   2.36  2.67  ...   5.68  1.03      3.17     1185
3             4    14.37   1.95  2.50  ...   7.80  0.86      3.45     1480
4             5    13.24   2.59  2.87  ...   4.32  1.04      2.93      735
..          ...      ...    ...   ...  ...    ...   ...       ...      ...
173         174    13.71   5.65  2.45  ...   7.70  0.64      1.74      740
174         175    13.40   3.91  2.48  ...   7.30  0.70      1.56      750
175         176    13.27   4.28  2.26  ...  10.20  0.59      1.56      835
176         177    13.17   2.59  2.37  ...   9.30  0.60      1.62      840
177         178    14.13   4.10  2.74  ...   9.20  0.61      1.60      560

[178 rows x 14 columns]>

In [ ]:
dataframe=pd.DataFrame(dataframe)
dataframe.head()

   Unnamed: 0  Alcohol  Malic   Ash  ...  Color   Hue  Dilution  Proline
0           1    14.23   1.71  2.43  ...   5.64  1.04      3.92     1065
1           2    13.20   1.78  2.14  ...   4.38  1.05      3.40     1050
2           3    13.16   2.36  2.67  ...   5.68  1.03      3.17     1185
3           4    14.37   1.95  2.50  ...   7.80  0.86      3.45     1480
4           5    13.24   2.59  2.87  ...   4.32  1.04      2.93      735

[5 rows x 14 columns]

In [ ]:
dataframe.shape

(178, 14)

In [ ]:
X = dataframe.iloc[:,1:14] 
Y = dataframe.iloc[:,0]

In [ ]:
X.shape,Y.shape

((178, 13), (178,))

In [ ]:
model = BaggingClassifier(base_estimator = DecisionTreeClassifier() , n_estimators = 500,random_state=8)

In [ ]:
results = cross_val_score(model, X, Y, cv = KFold(n_splits = 3,random_state=8))

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [ ]:
results.mean()

0.0

In [ ]:
results

array([0., 0., 0.])

# **Example-2**

In [ ]:
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=100, n_features=4,n_informative=2, n_redundant=0,random_state=0, shuffle=False)
clf = BaggingClassifier(base_estimator=SVC(),n_estimators=10, random_state=0).fit(X, y)
clf.predict([[0, 0, 0, 0]])

array([1])